<div class="center jumbotron">
  <h1><center>Welcome to the Class Portal</center></h1>
  <h2><center>If you are an existing user click on login. New students, click on signup!</center></h2>
  <body>
  <center>
    <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Signup', signup_path %>
    <% end %>
  </center>
  </body>
</div>


