<h1>Welcome to the Class Portal!</h1>
<p>
    <%= link_to 'Administrators', controller: 'admins' ,action: 'index'%>
</p>
<p>
    <%= link_to 'Students', controller: 'students' ,action: 'index'%>
</p>
<p>
    <%= link_to 'Instructors', controller: 'instructors' ,action: 'index'%>
</p>
<p>
    <%= link_to 'Courses', controller: 'courses' ,action: 'index'%>
</p>
