<h1>Contact</h1>
<p>Please reach out to any of the team member if you have any questions/concerns</p>
<h4>Team members:</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>Prashant Trivedi</td>
    <td>ptrived@ncsu.edu</td>
  </tr>
  <tr>
    <td>Karthik Perumal Palaniappan</td>
    <td>kpalani5@ncsu.edu</td>
  </tr>
  <tr>
    <td>Gargi Rajadhyaksha</td>
    <td>gsrajadh@ncsu.edu</td>
  </tr>
  </table>
