<h1>References</h1>
<list>
  <li><a href="https://www.railstutorial.org/book">Learn Web Development with Rails by Michael Hartl</a></li>
  <li><a href="http://guides.rubyonrails.org/getting_started.html">Getting started with Rails</a></li>
  <li><a href="https://devcenter.heroku.com/articles/getting-started-with-rails4">Getting Started with Rails 4.x on Heroku</a></li>
</list>
