<h1>Listing Announcements</h1>

<<<<<<< HEAD
<%= link_to 'New Announcement', controller: 'materials', action: 'new'%> 
=======
<%= link_to 'New Announcement', controller: 'material', action: 'new'%>
>>>>>>> ptrived
<table>
  
  <% @materials.each do |material| %>
    <tr>
      <td><%= material.content %></td>
      </tr>
  <% end %>
</table>

