<h1>Listing Announcements</h1>
<table>
  
  <% @materials.each do |material| %>
    <tr>
      <td><%= material.content %></td>
      </tr>
  <% end %>
</table>

<% if current_user.type == 'admin' || current_user.type == 'superadmin' || current_user.type == 'instructor'%>	
	<%= link_to 'New Announcement', controller: 'materials', action: 'new'%> 
<% end %>


