<<<<<<< HEAD
<h1> Show Announcement </h1>

<p>
  <strong>Course:</strong>
  <%= @material.course_id %>
</p>

<p>
  <strong>Announcement:</strong>
  <%= @material.content %>
</p>

<%= link_to 'Back', materials_path %>
=======
<h1>Course Material</h1>
<p>
  <%
</p>
>>>>>>> ptrived
