<footer class="footer">
  <small>
    North Carolina State University
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.ncsu.edu//">NCSU Website</a></li>
    </ul>
  </nav>
</footer>